html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif
}

.fiex-contaliner {
  display: flex;
  /* fiex-direction column-reverse; */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 700px;
  border: 1px solid black;
   /* justify-content: space-evenly; */
   /* justify-content: flex-end; */
  justify-content: center;
   /*align-itmes: conter; */
   /*align-itmes: stretch; */
  align-items: first baseline;
}

.fiex-Item {
  height: 50px;
  /* flex bass size*/
  width: 50px;
  background-color: coral;
  border: 1px solid black;
}

.Item-1 {
  flex-grow: 1;
  flex-shrink: 1;
}

.Item-2 {
  flex-grow: 2;
  flex-shrink: 3;
}

.Item-3 {
  flex-grow: 1;
  flex-shrink: 1;
}