* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

ul {
    list-style: none;
}

.active a {
    color: rgb(255, 84, 132);
    text-decoration: underline;
    font-weight: bold;
}

body, html {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links a {
    padding: 10px;
    display: inline-block;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
    z-index: 101;
}

/* Header */
header {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-content {
    margin-bottom: 10vh;
    color: white;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: rgb(255, 84, 132);
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: rgb(255, 84, 132);
    border-radius: 30px;
    color: white;
    display: inline-block;
}

/* Events */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: blueviolet;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: rgb(48, 48, 48);
    margin: 20px auto;
}

p {
    color: #7c7c7c;
    padding: 0 40px;
}

.events .ctn {
    margin-top: 30px;
}

/* Explore */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url('/HomeWork/img/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 7vmin;
    margin: 50px;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content p {
    color: white;
}

.explore-content .ctn {
    margin-top: 40px;
}

/* Tours */
.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.image-gallery img {
    max-width: 100%;
    width: calc(50% - 20px);
    margin: 10px;
}

.content-col h1 {
    font-size: 7vmin;
    color: #484872;
}

.content-col .line {
    margin: 10px 0;
}

.content-col p {
    padding: 0;
    margin: 30px 0;
}

.content-col .ctn {
    margin: 0;
}

/* About */
.about {
    text-align: center;
}

/* Footer */
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
}

/* Mobile device */
@media only screen and (max-width: 850px) {
    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 101;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(86, 86, 134);
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease;
        z-index: 99;
    }

    .mobile-menu {
        transform: translateY(0);
        border-bottom-right-radius: 25%;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }

    .col img {
        max-width: 90%;
    }

    .explore-content {
        width: 100%;
    }

    .tours .col {
        width: 100%;
    }

    .image-gallery img {
        width: calc(100% - 20px);
    }

    .footer {
        padding: 10px;
    }

    .header-content {
        margin-bottom: 5vh;
    }
}

/* Animation */
img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}

.nav-links a:hover {
    color: #fc036b;
    cursor: pointer;
}