/* * {
    border: 1px solid red;
} */

/* univeral selector */
* {
    letter-spacing: 1px;
    word-spacing: 3px;
}

/* element selector */
p {
    color:#55eb14;
}

/* id selector */
#heading {
    color: blueviolet;
}

#unique-box {
    border : 2px solid black;
}

/* class selector */
.simply {
    color : red;
}

.box {
    background-color : beige;
}

.inner-box {
    border: 1px solid #ccc;
}

/* Attribute selector */
[type="text"] {
    border: 2px solid #007bff;
}

/* Descendant Selector - all descendants */
/* element */
ul li {
    color: peru;
}

/* class */
ul.list li.highlight {
    color: darkred;
}

/* direct child - sons only, not including grandchilds or more*/
ul.list > li {
    color:darkgreen;
}

/* direct child with element*/
div > h2 {
    color:aqua;
}

.box > h3 {
    color: olive;
}

/* multiple classes - be carefull no space between 2 classes */
.inner-box.first-box {
    color:fuchsia;
}

/* multiple elements */
h5, h6 {
    color: skyblue;
}

/* multiple classes */
.multiple1, .multiple2 {
    color: rgb(173, 80, 80);
}

/* adjacent sibling selector */
div + a {
    color: gold;
}

.link + .box-sibling {
    background-color:lightcoral;
}

/* all sibling selector */
.box ~ .general-sibling {
    color:#eaf610;
    font-style: italic;
}

h1 ~ h4 {
    color: darkslateblue;
}

.pseudo-class-link:hover {
    color: #ff5733;
    text-decoration: dashed;
}

p::first-line {
    background-color: lightgrey;
}
